/* Remove default text */
.swagger-ui .topbar-wrapper .link span {
    display: none !important;
}

/* Add custom logo as background */
.swagger-ui .topbar-wrapper .link:before {
    content: "" !important;
    display: block !important;
    background: url("/images/mylogo.png") no-repeat center;
    background-size: contain;
    width: 160px;
    height: 40px;
}
